html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
}

@media(min-width: 820px) {
    .main-container {
        flex-direction: row;
    }
}