* {
    /* border: 2px solid pink; */
}

/* #root {
    min-height: 100%;
} */

.friendlist {
    /* border: 2px solid green; */
    max-width: 300px;
    min-height: 100%;
    padding: 1em;
    border-right: 2px solid #f0f0f0;

    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.friend {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    max-width: 45px;
    max-height: 45px;
    margin: 0.3em;
}

.name {
    margin: 1.6em 1em;
    font-size: 1.2em;
}

@media (min-width: 600px) {
    .friendlist {

    }
}
@media(min-width: 900px) {
    .friendlist {

    }
}